* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(black, red, blue);
    
    
}

.mapstBox {
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
    
}

.mapstBox iframe {
    width: 100%;
    height: 100%;
   
}